body {
    font-family: 'Clear Sans';
}


.btn {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}

.btn-success {
    color: #9DC04C;
    background-color: #FFf;
    border-color: #D2D2D2;
}

.btn-success:hover {
    color: #9DC04C;
    background-color: #EDEDED;
    border-color: #D3D3D3;
}

.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #9DC04C;
    background-color: #EDEDED;
    border-color: #D3D3D3;
}

.btn-success:focus, .btn-success.focus {
    color: #9DC04C;
    background-color: #EDEDED;
    border-color: #D3D3D3;
}

.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
    color: #97ba4a;
    background-color: #e7e7e7;
    border-color: #D3D3D3;
}


.btn-danger {
    color: #F27669;
    background-color: #FFf;
    border-color: #D2D2D2;
}

.btn-danger:hover {
    color: #F27669;
    background-color: #EDEDED;
    border-color: #D3D3D3;
}

.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #F27669;
    background-color: #EDEDED;
    border-color: #D3D3D3;
}

.btn-danger:focus, .btn-danger.focus {
    color: #F27669;
    background-color: #EDEDED;
    border-color: #D3D3D3;
}

.btn-danger:active:hover, .btn-danger.active:hover, .open > .dropdown-toggle.btn-danger:hover, .btn-danger:active:focus, .btn-danger.active:focus, .open > .dropdown-toggle.btn-danger:focus, .btn-danger:active.focus, .btn-danger.active.focus, .open > .dropdown-toggle.btn-danger.focus {
    color: #E06B5F;
    background-color: #e7e7e7;
    border-color: #D3D3D3;
}

h2, .h2 {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 20px;

    color: #444;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #F6F6F6;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    color: #83AF1B;
}



.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 0;
}

thead {
    background-color: #eeeeee;
}