.wrap-container {
    margin-left: 250px;
    margin-top: 81px;
    padding: 30px 40px;
}

.wrap-sidebar {
    width: 250px;
    position: fixed;
    top: 6px;
    left: 0;
    bottom: 0;
    background-color: #eee;
}

.sidebar-block-title {
    background: #2C3E50;
    display: block;
    padding: 15px 20px;
    color: #eee;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
}

.wrap-header {
    position: fixed;
    left: 250px;
    top: 6px;
    right: 0;
    height: 75px;
    line-height: 75px;
    background: #F7F7F7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

.wrap-header_h2 {
    padding: 0 30px;
    display: block;
    overflow: hidden;
    margin: 0;
    height: 75px;
    line-height: 75px;
}

.wrap-header_h2_input {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 75px;
    background: transparent;
    border: 0;
    outline: none;
}

.logo {
    position: relative;
    height: 75px;
    line-height: 75px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.logo > .logo-header {
    font-size: 24px;
    color: #B9B9B9;
    font-family: 'Clear Sans Thin', serif;
    font-weight: normal;
    padding-left: 20px;
    display: inline-block;
}

.logo > .go-home {
    background-color: #E2E2E2;
    color: #9E9E9E;
}

.button-with-icon.left {
    float: left;
}
.button-with-icon.right {
    float: right;
}
.button-with-icon {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 75px;
    height: 75px;
    color: #333;
    float: right;
    transition: all 0.2s;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.button-with-icon:hover, .button-with-icon:focus {
    color: #3498DB;
    background-color: #E2E2E2;
    text-decoration: none;
    outline: none;
}

.button-with-icon > i[class^="flaticon-"] {
    font-size: 24px;
}

.wrap-color-line {
    height: 6px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.wrap-color-line div {
    width: 14.28%;
    height: 100%;
    float: left
}

.wcl-item-1 {
    background: #C3E27A
}
.wcl-item-2 {
    background: #F7FEC6
}
.wcl-item-3 {
    background: #FFCE63
}
.wcl-item-4 {
    background: #F17163
}
.wcl-item-5 {
    background: #DA98BB
}
.wcl-item-6 {
    background: #C59BE0
}
.wcl-item-7 {
    background: #979DCC
}

.nav-glyphicon {
    font-size: 18px;
    vertical-align: sub;
    margin-right: 10px;
}

.nav > li.separator {
    height: 10px;
}

.portfolio-item {
    border-radius: 5px;
    padding: 10px 0;
    background: #eee;
    margin: 20px 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.summary {
    font-family: 'Clear Sans', "PT Sans", Arial, serif;
    line-height: 30px;
    color: #aaa;
}

@media (min-width: 992px) {
    .button-with-icon.menu {
        display: none;
    }
}