<div class="col-xs-12">
    <a class="close" href="/admin/portfolio/delete.html?id=<%= id %>" title="Удалить" data-method="post"><span aria-hidden="true">&times;</span></a>
</div>
<div class="col-xs-12">
    <div class="row">
        <div class="col-md-2">
            <% if (cover != null) { %>
                <% var re = /(?:\.([^.]+))?$/; var ext = re.exec(cover.filePath)[1];  %>
                <img src="/yii2images/images/image-by-item-and-alias.html?item=<%= cover.modelName %><%= cover.itemId %>&amp;dirtyAlias=<%= cover.urlAlias %>_200x.<%= ext %>" alt="" class="img-rounded img-responsive center-block mb-20">
            <% } else { %>
                <img src="/yii2images/images/image-by-item-and-alias.html?item=&amp;dirtyAlias=placeHolder_200x.png" alt="" class="img-rounded img-responsive center-block mb-20">
            <% } %>
        </div>
        <div class="col-md-10">
            <form id="w1" action="/admin/portfolio.html" method="post" role="form">
                <input type="hidden" name="_csrf" value="aVpYbjZ3UVoMHzE/BA0HKSIbPylyRydrIjQVA1kfP2oPaAsZUgEebQ==">
                <div class="form-group field-portfolio-category_id">
                    <label class="control-label" for="portfolio-category_id">Категория</label>
                    <%= categoriesHTML %>
                    <p class="help-block help-block-error"></p>
                </div>
                <div class="form-group field-portfolio-title">
                    <label class="control-label" for="portfolio-title">Заголовок</label>
                    <input type="text" id="portfolio-title" class="form-control" name="Portfolio[title]" value="<%= title %>">
                    <p class="help-block help-block-error"></p>
                </div>
                <div class="form-group field-portfolio-description">
                    <label class="control-label" for="portfolio-description">Описание</label>
                    <textarea id="portfolio-description" class="form-control" name="Portfolio[description]"><%= description %></textarea>
                    <p class="help-block help-block-error"></p>
                </div>
            </form>
        </div>
    </div>
</div>
