<div class="col-xs-12">
    <a class="close" href="/admin/portfolio/delete.html?id=<%= id %>" title="" data-method="post" data-original-title="Удалить"><span aria-hidden="true">×</span></a>
</div>
<div class="col-xs-12">
    <div class="row">
        <div class="col-md-2">
            <img src="/yii2images/images/image-by-item-and-alias.html?item=Portfolio<%= id %>&amp;dirtyAlias=b0c7aa0402-1_200x.png" alt="" class="img-rounded img-responsive center-block mb-20">
        </div>
        <div class="col-md-10">
            <form id="w1" action="/admin/portfolio.html" method="post" role="form">
                <input type="hidden" name="_csrf" value="aVpYbjZ3UVoMHzE/BA0HKSIbPylyRydrIjQVA1kfP2oPaAsZUgEebQ==">
                <div class="form-group field-portfolio-category_id">
                    <label class="control-label" for="portfolio-category_id">Категория</label>
                    <select id="portfolio-category_id" class="form-control" name="Portfolio[category_id]">
                        <option value="2">Кухни</option>
                        <option value="1" selected="">Детские</option>
                        <option value="3">Шкафы-купе</option>
                    </select>
                    <p class="help-block help-block-error"></p>
                </div>
                <div class="form-group field-portfolio-title">
                    <label class="control-label" for="portfolio-title">Заголовок</label>
                    <input type="text" id="portfolio-title" class="form-control" name="Portfolio[title]" value="<%= title %>">
                    <p class="help-block help-block-error"></p>
                </div>
                <div class="form-group field-portfolio-description">
                    <label class="control-label" for="portfolio-description">Описание</label>
                    <textarea id="portfolio-description" class="form-control" name="Portfolio[description]"><%= description %></textarea>
                    <p class="help-block help-block-error"></p>
                </div>
            </form>
        </div>
    </div>
</div>
