.about-list
  list-style-type none
  overflow hidden
  & li
    float left
    width 235px
    margin-right 20px
    &:last-child
      margin-right 0
    & .header-about
      text-transform uppercase
      font-size 18px
      height 51px
      font-family font-header
      & .image
        width 51px
        height 51px
        border-radius 51px
        float left
        margin-right 15px
        background #fff
        & img
          height 50px
          display block
          margin 0 auto
    & p
      margin 20px 0
  & ul
    margin 20px 0 20px 20px
    & li
      margin 3px 0
      list-style-image: url(/img/elem/checkmark.png)
