.breadcrumb
  list-style-type none
  overflow hidden
  padding 0
  margin-bottom 0
  border-radius 5px
  background #eee
  & > li
    & + li
      &:before
        content ''
        display block
        position absolute
        top 6px
        left -28px
        width 26px
        height 28px
        border-right 1px solid #DDD
        border-bottom 1px solid #DDD
        -webkit-transform rotate(-45deg)
        -moz-transform rotate(-45deg)
        -o-transform rotate(-45deg)
        transform rotate(-45deg)
  & li
    float left
    margin-right 5px
    padding 10px 20px
    font-size 14px
    font-family font-header
    position relative
    & a
      text-decoration none
      display block
      z-index 1
      position relative
      &:hover
        color #242424
