.footer_nav
  float left
  color #fff
  list-style-type none
  margin-right 50px
  width 150px
  & span
    font-size 20px
    font-weight bold
    text-transform uppercase
    margin-bottom 10px
    display block
    font-family font-header
  & li
    font-size 14px
    text-transform none
    margin 5px 0
    color #fff
    font-family font-header
    list-style-type none
    font-weight bold
    & a
      color #CC1558
      text-decoration none
      &:hover
        text-decoration underline
      &#nav_footer_active
        color #fff
        list-style-type none
  & .active
    & a
      color #fff
      list-style-type none