.left-aside
  float left
  width 180px
  & span
    font-size 20px
    font-weight bold
    text-transform uppercase
    font-family font-header
  & ul
    list-style-type none
    margin-top 10px
    display block
    & li
      &.active
        & a, & a:hover
          color #fafafa
          background #E0194A
      & a
        display block
        text-decoration none
        color #CC1558
        padding 5px 10px
        font-family font-header
        border-radius 3px
        &:hover
          color #9B1646
          background #fafafa