.post_news
  margin 20px 10px 30px 10px
  width 880px
  padding-bottom 20px

.title_news
  overflow: hidden;
  margin: -15px -15px 15px -15px;
  padding: 0 15px;
  & a
    color #444
    text-decoration none
    font-size 20px
    font-weight bold
    &:hover
      color #474747
      text-decoration none
      border-bottom 2px solid #CC1548
  & span
    color #bbb
    font-size 14px
    font-weight bold
    font-family font-header
  & h3
    padding 0