.view-all-portfolio
  padding 15px 20px 0
  display inline-block
  font-size 16px
  text-decoration none
  text-transform uppercase
  font-weight bold
  font-family font-header
  border-radius 5px 5px 0 0
  opacity 1
  background-color rgba(0, 0, 0, 0.9)
  &:hover
    color: #fff
  & i.flaticon-chevron8
    font-size 20px