@require './base/var'

@require './base/about-list'
@require './base/breadcrumb'
@require './base/contacts'
@require './base/fancybox'
@require './base/footer'
@require './base/identifiers'
@require './base/left-aside'
@require './base/news'
@require './base/other'
@require './base/pagination'
@require './base/partners'
@require './base/portfolio'
@require './base/post'
@require './base/product'
@require './base/slider'
@require './base/social'
@require './base/tags'
@require './base/ui'
@require './base/wrap'
@require './base/wrap-product'