@font-face {
  font-family: 'Clear Sans';
  src: url('../fonts/ClearSans-Regular-webfont.eot');
  src: url('../fonts/ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-Regular-webfont.woff') format('woff'),
       url('../fonts/ClearSans-Regular-webfont.ttf') format('truetype'),
       url('../fonts/ClearSans-Regular-webfont.svg#clear_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Clear Sans Thin';
  src: url('../fonts/ClearSans-Thin-webfont.eot');
  src: url('../fonts/ClearSans-Thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ClearSans-Thin-webfont.woff') format('woff'),
       url('../fonts/ClearSans-Thin-webfont.ttf') format('truetype'),
       url('../fonts/ClearSans-Thin-webfont.svg#clear_sans_thinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: #5E6C7E;
  font-family: 'Clear Sans';
}

.wrap-login-form {
  width: 350px;
  background: #fff;
  margin: 50px auto 0 auto;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
  overflow: hidden;
  border-bottom: 4px solid #F7F7F7;
}

.wrap-color-line {
  height: 6px;
  overflow: hidden;
}

.wrap-color-line div {
  width: 14.28%;
  height: 100%;
  float: left;
}

.wcl-item-1 {
  background: #C3E27A;
}
.wcl-item-2 {
  background: #F7FEC6;
}
.wcl-item-3 {
  background: #FFCE63;
}
.wcl-item-4 {
  background: #F17163;
}
.wcl-item-5 {
  background: #DA98BB;
}
.wcl-item-6 {
  background: #C59BE0;
}
.wcl-item-7 {
  background: #979DCC;
}

.header-form {
  height: 70px;
  line-height: 70px;
  background: #F7F7F7;
}

.header-form h1 {
  font-size: 24px;
  color: #B9B9B9;
  text-shadow: 0 1px 0 rgba(255,255,255,.9);
  text-align: center;
  font-family: 'Clear Sans Thin';
  font-weight: normal;
}

.login-form {
  padding: 20px;
}

.login-form input{
  padding: 10px;
  width: 288px;
  border-radius: 5px;
  border: 1px solid #EAEAEA;
  border-bottom: 2px solid #EAEAEA;
  outline: none;
  margin-bottom: 10px;
  font-family: 'Clear Sans';
  color: #444;
}

.login-form input:focus{
  border-color: #bdc3c7;
}

.login-form input[type="submit"] {
  background: #F27669;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #D35849;
  font-weight: bold;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  padding: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 0;
}

.login-form input[type="submit"]:hover {
  background: #FC7E6F;
}

.error {
  font-size: 12px;
  text-align: center;
  background: #D35849;
  color: #fff;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin: 5px 20px;
}